.table-container{
    margin: auto;
}
.td-IMG{
    width: 100px;
    height: 100px;
}

.Titulos{
    padding: 20px;
}

.container{
    text-align: center;
    justify-content: center;
    display: flex;

}