.DetailDataContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
}


.DataDetail{
    display: flex;
    flex-direction: column;
}

.DataDetail h3{
    width: 40vh;
}