.card{
    display: flex;
    text-align: center;
}

.Botones{
    display: flex;
    justify-content: center;
}

.Contador{
    margin: 1rem;
}

.img{
    object-fit: contain;
}

.cardDescription{
    height: 150px;
    overflow: hidden ;
}